Logged in as <%= current_user.username %>

<% if current_user.status == false %>
  <p>This account has not yet been activated. Please check your email</p>
<% else %>
  <p>Status: Active</p>
<% end %>
